.btn {
  display: inline-flex;
  padding: 10px 20px;

  color: $color-default-white;

  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;

  transition: opacity $trans-default;

  &--dark {
    background-color: $color-elephant;
  }

  &:hover,
  &:focus-visible {
    color: #1c3374;
    background-color: $color-default-white;
    border: 1px solid #1c3374;
  }

  &:active {
    color: $color-default-white;
    background-color: #1c3374;
  }

  &:disabled {
    opacity: 0.5;

    pointer-events: none;
  }

  @include hover-focus {
    opacity: 0.8;
  }
}
