.contacts {
  border-bottom: 1px solid rgba(45, 56, 63, 0.2);
}

.contacts .container {
  padding-top: 84px;
  padding-bottom: 103px;
  display: flex;
  justify-content: space-between;

  @include vp-1199 {
    padding-top: 89px;
    padding-bottom: 69px;
    flex-direction: column;
  }

  @include vp-767 {
    padding-top: 66px;
    padding-bottom: 29px;
  }
}

.contacts__text-wrapper {
  position: relative;
  width: 483px;

  @include vp-767 {
    width: 100%;
  }
}

.contacts__text-wrapper > span {
  @include title-h2;

  position: absolute;
  top: -17px;
  left: 0;
  opacity: 0.03;

  @include vp-1199 {
    top: -20px;
    font-size: 40px;
  }

  @include vp-767 {
    top: -3px;
    font-size: 26px;
  }
}

.contacts__text-wrapper h2 {
  @include title-h3;

  margin: 0 0 22px;

  @include vp-1199 {
    margin-bottom: 17px;
  }

  @include vp-767 {
    margin-bottom: 12px;
  }
}

.contacts__text-wrapper > p {
  @include text-regular;
  margin: 0 0 48px;

  @include vp-1199 {
    margin-bottom: 40px;
  }

  @include vp-767 {
    margin-bottom: 30px;
  }
}

.contacts__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  row-gap: 33px;
  list-style-type: none;

  @include vp-1199 {
    width: 677px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  @include vp-767 {
    width: 100%;
    flex-direction: column;
    row-gap: 29px;
  }
}

.contacts__item {
  padding-left: 56px;

  &--phone {
    background: url("./img/sprite.svg#phone") no-repeat left center / 26px 26px;
  }

  &--email {
    background: url("./img/sprite.svg#mail") no-repeat left center / 26px 26px;
  }

  &--adress {
    background: url("./img/sprite.svg#pin-stroke") no-repeat left center / 26px 26px;
  }

  @include vp-1199 {
    padding-left: 34px;
    background-size: 24px 24px;
    background-position: left top;
  }

  @include vp-767 {
    padding-left: 32px;
    background-size: 22px 22px;
  }
}

.contacts__item h3 {
  @include title-h6;

  margin: 0 0 10px;

  @include vp-1199 {
    margin-bottom: 4px;
  }

  @include vp-767 {
    margin-bottom: 5px;
  }
}

.contacts__item a,
.contacts__item p {
  @include text-regular;

  @include vp-1199 {
    @include text-small;
  }

  @include vp-767 {
    @include text-regular;
  }
}

.contacts__link-phone,
.contacts__link-email {
  &:hover,
  &:focus-visible {
    color: #1c3374;
  }

  &:active {
    color: $color-navy-blue;
  }
}

.contacts__item p {
  margin: 8px 0 0;

  @include vp-1199 {
    margin-top: 6px;
  }

  @include vp-767 {
    margin-top: 8px;
    width: 160px;
  }
}

.contacts__map {
  margin-top: 75px;
  width: 585px;
  height: 324px;
  background-image: image-set(url("./img/map.webp") type("image/webp"),
      url("./img/map.png") type("image/png"));
  background-size: 585px 324px;
  background-position: center center;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dppx) {
    background-image: image-set(url("./img/map@2x.webp") type("image/webp"),
        url("./img/map@2x.png") type("image/png"));
  }

  @include vp-1199 {
    margin: 40px auto 0;
    width: 678px;
    height: 340px;
    background-size: 678px 340px;
  }

  @include vp-767 {
    margin-top: 30px;
    width: 290px;
    height: 320px;
    background-size: 290px 320px;
  }
}
