.feedback {
  background-image: image-set(url("../img/feedback.webp") type("image/webp"),
      url("../img/feedback.png") type("image/png"));
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #92979c;
  background-position: center;
  background-clip: padding-box;
  border: none;

  @media (min-resolution: $retina-dppx) {
    background-image: image-set(url("../img/feedback@2x.webp") type("image/webp"),
        url("../img/feedback@2x.png") type("image/png"));
  }

  @include vp-1199 {
    background-image: image-set(url("../img/feedback-tablet.webp") type("image/webp"),
        url("../img/feedback-tablet.png") type("image/png"));
    // background-size: 768px 679px;

    @media (min-resolution: $retina-dppx) {
      background-image: image-set(url("../img/feedback-tablet@2x.webp") type("image/webp"),
          url("../img/feedback-tablet@2x.png") type("image/png"));
    }
  }

  @include vp-767 {
    background-image: image-set(url("../img/feedback-mobile.webp") type("image/webp"),
        url("../img/feedback-mobile.png") type("image/png"));

    @media (min-resolution: $retina-dppx) {
      background-image: image-set(url("../img/feedback-mobile@2x.webp") type("image/webp"),
          url("../img/feedback-mobile@2x.png") type("image/png"));
    }
  }
}

.feedback .container {
  padding-top: 312px;
  padding-bottom: 307px;
  text-align: center;

  @include vp-1199 {
    padding-top: 194px;
    padding-bottom: 182px;
  }

  @include vp-767 {
    padding-top: 181px;
    padding-bottom: 162px;
  }
}

.feedback h2 {
  @include title-h3;

  margin: 0 0 16px;
  padding-right: 17px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 19px;
    padding-right: 0;
  }

  @include vp-767 {
    margin-bottom: 14px;
  }
}

.feedback p {
  @include text-regular;

  margin: 0 auto 42px;
  padding-right: 17px;
  color: $color-default-white;

  @include vp-1199 {
    margin-bottom: 29px;
    padding-right: 0;
    width: 312px;
  }

  @include vp-767 {
    @include text-xsmall;

    margin-bottom: 26px;
    width: 100%;
  }
}

.feedback form {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  max-width: 978px;
  justify-content: space-between;

  @include vp-1199 {
    max-width: 266px;
    min-height: 180px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  @include vp-767 {
    max-width: 100%;
  }
}

.feedback input {
  @include btn-small;

  padding: 22px 30px;
  width: 340px;
  word-break: break-all;
  border: none;

  &:hover {
    outline: 1px solid $color-navy-blue;

    &::placeholder {
      color: $color-navy-blue;
    }
  }

  &:focus-visible,
  &:active {
    outline: 1px solid #1c3374;
  }

  &:disabled {
    outline: 1px solid rgba(2, 102, 193, 0.1);
    background-color: $color-default-white;

    &::placeholder {
      color: rgba(2, 102, 193, 0.1);
    }
  }


  @include vp-1199 {
    margin-bottom: 7px;
    padding: 16px 15px;
    width: 266px;
  }

  @include vp-767 {
    width: 100%;
  }
}

.feedback__name.is-invalid,
.feedback__phone.is-invalid {
  outline: 1px solid #ff121f;
}

.feedback__name,
.feedback__phone {
  @include vp-767 {
    width: 100%;
  }
}

.feedback__submit {
  display: block;
  padding: 18px 40px;
  width: 238px;

  @include vp-1199 {
    margin-top: 8px;
    padding: 20px 30px;
    width: 266px;
  }

  @include vp-767 {
    margin-top: 1px;
    padding: 17px 20px;
    width: 100%;
  }
}
