.tour {
  background-image: image-set(url("../img/clouds.webp") type("image/webp"),
      url("../img/clouds.png") type("image/png"));
  background-size: 602px 1364px;
  background-repeat: no-repeat;
  background-position: right -20px;
  overflow: hidden;

  @media (min-resolution: $retina-dppx) {
    background-image: image-set(url("../img/clouds@2x.webp") type("image/webp"),
        url("../img/clouds@2x.png") type("image/png"));
  }


  @include vp-1199 {
    background-position: right -96px;
  }

  @include vp-767 {
    background-position: right 256px;
    background-size: 346px 595px;
  }
}

.tour .container {
  position: relative;
  padding-top: 123px;
  padding-bottom: 102px;
  display: flex;
  flex-direction: column;
  background-image: image-set(url("../img/tour-little-cloud.webp") type("image/webp"),
      url("../img/tour-little-cloud.png") type("image/png"));
  background-repeat: no-repeat;
  background-size: 418px 279px;
  background-position: 0 491px;

  @media (min-resolution: $retina-dppx) {
    background-image: image-set(url("../img/tour-little-cloud@2x.webp") type("image/webp"),
        url("../img/tour-little-cloud@2x.png") type("image/png"));
  }

  @include vp-1199 {
    padding-top: 88px;
    padding-bottom: 63px;
    background: none;
  }

  @include vp-767 {
    padding-top: 66px;
    padding-bottom: 40px;
  }
}

.tour__title-wrapper {
  position: relative;
}

.tour__title-wrapper p {
  @include title-h2;

  position: absolute;
  margin: 0;
  top: -17px;
  left: 0;
  opacity: 0.03;

  @include vp-1199 {
    top: -21px;
    font-size: 40px;
  }

  @include vp-767 {
    top: -3px;
    font-size: 26px;
  }
}

.tour__title-wrapper h2 {
  @include title-h3;

  margin: 0 0 54px;

  @include vp-1199 {
    margin-bottom: 43px;
  }

  @include vp-767 {
    margin-bottom: 28px;
    width: min-content;
  }
}

.tour__swiper {
  position: relative;
  margin: 0 0 52px;
  width: 1200px;
  left: calc((100% + 240px - 1440px) / 2);

  @include vp-1199 {
    position: static;
    margin: 0 auto 52px;
    width: 666px;
  }

  @include vp-767 {
    margin-bottom: 29px;
    width: 100%;
  }
}

.tour__overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.60) 22.3%, rgba(0, 0, 0, 0.00) 60.32%);
}

.tour__swiper-buttons {
  position: absolute;
  display: flex;
  gap: 4px;
  top: 123px;
  right: 120px;

  @include vp-1199 {
    top: 83px;
    right: 45px;
  }

  @include vp-767 {
    top: 69px;
    right: 15px;
  }
}

.tour__swiper-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 37px;
  height: 35px;
  background-color: $color-navy-blue;
  border: none;
  cursor: pointer;
}

.tour__swiper-button svg {
  fill: $color-default-white;
}

.tour__swiper-button:hover,
.tour__swiper-button:focus-visible {
  background-color: $color-default-white;
  outline: 1px solid #1c3374;
}

.tour__swiper-button:hover svg,
.tour__swiper-button:focus-visible svg {
  fill: #1c3374;
}

.tour__swiper-button:active {
  background-color: #1c3374;
  outline: none;
}

.tour__swiper-button:active svg {
  fill: $color-default-white;
}

.tour__swiper-button--disabled {
  background-color: $color-navy-blue;
  opacity: 0.1;
  pointer-events: none;
}

.tour__swiper-slide {
  padding: 206px 20px 23px;
  max-width: 380px;
  min-height: 412px;
  color: $color-default-white;
  cursor: grab;
  background-size: cover;
  background-color: #575a05;

  &--caucasus {
    background-image: image-set(url("../img/tour/tour-1.webp") type("image/webp"),
        url("../img/tour/tour-1.png") type("image/png"));

    @media (min-resolution: $retina-dppx) {
      background-image: image-set(url("../img/tour/tour-1@2x.webp") type("image/webp"),
          url("../img/tour/tour-1@2x.png") type("image/png"));
    }

    @include vp-1199 {
      background-image: image-set(url("../img/tour/tour-1-tablet.webp") type("image/webp"),
          url("../img/tour/tour-1-tablet.png") type("image/png"));

      @media (min-resolution: $retina-dppx) {
        background-image: image-set(url("../img/tour/tour-1-tablet@2x.webp") type("image/webp"),
            url("../img/tour/tour-1-tablet@2x.png") type("image/png"));
      }
    }

    @include vp-767 {
      background-image: image-set(url("../img/tour/tour-1-mobile.webp") type("image/webp"),
          url("../img/tour/tour-1-mobile.png") type("image/png"));

      @media (min-resolution: $retina-dppx) {
        background-image: image-set(url("../img/tour/tour-1-mobile@2x.webp") type("image/webp"),
            url("../img/tour/tour-1-mobile@2x.png") type("image/png"));
      }
    }
  }

  &--altai {
    background-image: image-set(url("../img/tour/tour-2.webp") type("image/webp"),
        url("../img/tour/tour-2.png") type("image/png"));

    @media (min-resolution: $retina-dppx) {
      background-image: image-set(url("../img/tour/tour-2@2x.webp") type("image/webp"),
          url("../img/tour/tour-2@2x.png") type("image/png"));
    }

    @include vp-1199 {
      background-image: image-set(url("../img/tour/tour-2-tablet.webp") type("image/webp"),
          url("../img/tour/tour-2-tablet.png") type("image/png"));

      @media (min-resolution: $retina-dppx) {
        background-image: image-set(url("../img/tour/tour-2-tablet@2x.webp") type("image/webp"),
            url("../img/tour/tour-2-tablet@2x.png") type("image/png"));
      }
    }

    @include vp-767 {
      background-image: image-set(url("../img/tour/tour-2-mobile.webp") type("image/webp"),
          url("../img/tour/tour-2-mobile.png") type("image/png"));

      @media (min-resolution: $retina-dppx) {
        background-image: image-set(url("../img/tour/tour-2-mobile@2x.webp") type("image/webp"),
            url("../img/tour/tour-2-mobile@2x.png") type("image/png"));
      }
    }
  }

  &--adyghea {
    background-image: image-set(url("../img/tour/tour-3.webp") type("image/webp"),
        url("../img/tour/tour-3.png") type("image/png"));

    @media (min-resolution: $retina-dppx) {
      background-image: image-set(url("../img/tour/tour-3@2x.webp") type("image/webp"),
          url("../img/tour/tour-3@2x.png") type("image/png"));
    }

    @include vp-1199 {
      background-image: image-set(url("../img/tour/tour-3-tablet.webp") type("image/webp"),
          url("../img/tour/tour-3-tablet.png") type("image/png"));

      @media (min-resolution: $retina-dppx) {
        background-image: image-set(url("../img/tour/tour-3-tablet@2x.webp") type("image/webp"),
            url("../img/tour/tour-3-tablet@2x.png") type("image/png"));
      }
    }

    @include vp-767 {
      background-image: image-set(url("../img/tour/tour-3-mobile.webp") type("image/webp"),
          url("../img/tour/tour-3-mobile.png") type("image/png"));

      @media (min-resolution: $retina-dppx) {
        background-image: image-set(url("../img/tour/tour-3-mobile@2x.webp") type("image/webp"),
            url("../img/tour/tour-3-mobile@2x.png") type("image/png"));
      }
    }
  }

  @include vp-1199 {
    width: 324px;
    padding-bottom: 24px;
  }

  @include vp-767 {
    padding-top: 197px;
    padding-bottom: 21px;
    width: 100%;
    max-width: none;
  }
}

.tour__info {
  @include caption-medium;

  margin: 0 0 23px;
  display: flex;
  align-items: center;
  gap: 10px 37px;
  min-height: 29px;

  @include vp-1199 {
    gap: 10px 17px;
  }

  @include vp-767 {
    margin-bottom: 15px;
    flex-wrap: wrap;
    gap: 15px 17px;
  }
}

.tour__info-location {
  padding: 10px 11px 8px 4px;
  display: flex;
  justify-content: center;
  min-width: 108px;
  gap: 6px;
  background-color: $color-navy-blue;

  &--altai {
    padding-right: 10px;
  }

  @include vp-1199 {
    min-width: 97px;

    &--altai {
      min-width: 92px;
    }
  }

  @include vp-767 {
    order: 3;
  }
}

.tour__info-days {
  display: flex;
  align-items: center;
  gap: 10px 13px;
  min-width: 76px;
}

.tour__info-nights {
  display: flex;
  align-items: center;
  gap: 10px 13px;
  min-width: 82px;
}

.tour__swiper-slide h3 {
  @include title-h4;

  position: relative;
  margin: 0 0 38px;

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: -18px;
    width: 80px;
    height: 1px;
    background-color: $color-default-white;
    opacity: 0.2;
  }

  @include vp-767 {
    margin-bottom: 31px;

    &::after {
      bottom: -15px;
    }
  }
}

.tour__details {
  display: flex;
  gap: 10px 53px;

  @include vp-1199 {
    gap: 0;
    justify-content: space-between;
  }
}

.tour__details p {
  @include caption-light;

  margin: 0;

  @include vp-767 {
    margin-bottom: -2px;
  }
}

.tour__details span {
  @include caption-big;
}

.tour__details-level {
  position: relative;
  margin-right: 10px;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 4px;
    width: 80px;
    height: 14px;
    background-image: url("../img/sprite.svg#star-empty");
    background-repeat: repeat;
    background-size: 16px 14px;
  }

  &::after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 4px;
    height: 14px;
    background-image: url("../img/sprite.svg#star-filled");
    background-repeat: repeat;
    background-size: 16px 14px;
  }

  &--two::after {
    width: 32px;
  }

  &--three::after {
    width: 48px;
  }

  &--four::after {
    width: 64px;
  }

  @include vp-767 {
    margin-right: 0;

    &::before {
      bottom: 6px;
      width: 73px;
      height: 13px;
      background-size: 13px 12px;
      background-repeat: space;
    }

    &::after {
      bottom: 6px;
      height: 13px;
      background-size: 13px 12px;
      background-repeat: space;
    }

    &--two::after {
      width: 28px;
    }

    &--three::after {
      width: 43px;
    }

    &--four::after {
      width: 58px;
    }
  }
}

.tour__swiper-slide--altai .tour__info-days,
.tour__swiper-slide--altai .tour__info-nights {
  column-gap: 8px;
}

.tour__swiper-slide--adyghea .tour__info-days,
.tour__swiper-slide--adyghea .tour__info-nights {
  column-gap: 10px;
}

.tour__show-all {
  @include btn-big;

  display: flex;
  align-self: center;
}

.tour__show-all > span {
  margin-right: 10px;

  @include vp-767 {
    margin-right: 7px;
  }
}

.tour__show-all svg {
  stroke: $color-elephant;
}

.tour__show-all:hover span,
.tour__show-all:hover svg,
.tour__show-all:focus span,
.tour__show-all:focus svg {
  color: #1c3374;
  stroke: #1c3374;
}

.tour__show-all:active span,
.tour__show-all:active svg {
  color: $color-navy-blue;
  stroke: $color-navy-blue;
}
